*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal{
    width: 800px;
    border: 2px solid black;
    padding: 20px;
    background: darkcyan;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    transition: 0.7s;
}
.show{
    top: 50%;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.644);
    display: none;
}